<h1 class="logo">Stck-<span id="i">I</span><span id="t">T</span></h1>

<div class="login">
  <div class='login_fields'>
  <%= form_tag login_path do %>
    <%= text_field_tag 'username', nil, placeholder: 'username' %>
    <br>
    <%= password_field_tag 'password', nil, placeholder: 'password' %>
    <br>
    <%= submit_tag 'Sign In' %>
  <% end %>
  </div>

    <%= link_to 'Sign Up for an Account', new_user_path %>
</div>
