<header>
  <h2><%= user.username %></h2>
  <span class="new-board"><%= link_to "+ new board", new_board_path, remote: true%></span>
  <nav id="board-nav">
    <span><%= link_to "+ Edit", edit_user_path(user), remote:true%></span>
    <span><%= link_to "+ Logout", logout_path%></span>
  </nav>
</header>

<div class="clearfix" id="user-info-container">
  <h2><%= user.username %></h2>
  <div class="user-boards">
    <h3>Collaboration Boards</h3>
    <% user.collaborations.each do |collaboration| %>
      <div class="collab">
      <span>Title: </span>
      <span><%= link_to collaboration.board.title, board_path(collaboration.board), remote: true %></span> |
      <span><%= link_to 'Delete Board', board_path(board), remote: true, method: :delete %></span>
      </div>
    <% end %>
  </div>
  <div class="user-boards">
      <h3>My Boards</h3>
      <% user.created_boards.each do |board| %>
      <div class="my-boards" id="<%= dom_id(board) %>">
      <span>Title: </span>
      <span><%= link_to board.title, board_path(board), remote: true  %></span> |
      <span><%= link_to 'Delete Board', board_path(board), remote: true, method: :delete %></span>
      </div>
      <% end %>
  </div>
</div>
