<%= div_for(user) do %>
  <p class="user">
    <%= user.username %>
  </p>
  <p class="user">
    <%= user.name %>
  </p>
  <p class="user">
    <%= user.email %>
  </p>
  <p class="user">
    <% user.collaborations.each do |collaboration| %>
      <%= link_to collaboration.board.title, board_path(collaboration.board), remote: true %>
    <% end %>
  </p>
  <ul>

    <% user.created_boards.each do |brd| %>
    <li><%= link_to brd.title, board_path(brd), remote: true, :board_id => brd.id  %></li>
    <% if can? :update, @board %>
    <%= (link_to 'Delete Board', board_path(brd), remote: true, method: :delete) %>
    <% end %>
    <% end %>
</ul>
<% end %>
