
<p class="link_profile">
  <%= link_to 'Your Profile', users_profiles_path, remote: true %>
</p>
<p>
  <%= link_to 'Create a New Board', new_board_path, remote: true %>
</p>

<%= link_to 'Edit Your Account', edit_user_path(@user), remote: true %> |
<%= link_to 'Delete Your Account', user_path(@user), method: :delete %> |
<%= link_to 'Logout', logout_path %>
