<header>
  <h2><%= link_to @user.name, users_profiles_path(@user), remote: true %></h2>
  <span class="new-board"><%= link_to 'Create a New Board', new_board_path, remote: true %></span>
  <div class='user-info-nav'>
    <span><%= link_to '+ Edit', edit_user_path(@user), remote: true %></span>
    <span><%= link_to '+ Delete', user_path(@user), method: :delete %></span>
    <span><%= link_to 'Logout', logout_path %></span>
  </div>
</header>
