<div class="board">

  <p class="title">
  <%= @board.title %>
  </p>

  <p class="creatorId">
  <%= @board.creator_id %>
  </p>

  <p class="editorId">
  <%= @board.editor_id %>
  </p>

  <div id="board-links">
    <%= link_to("edit", edit_board_path(@board)) %>
    <%= link_to("delete", board_path(@board), method: :delete) %>
  </div>

</div>
