<header>
  <h2><%= link_to @user.username, users_profiles_path(@user), remote: true %></h2>
  <h3 class="board-title" data-id=<%= @board.id %> ><%= @board.title %></h3>
  <span class="new-board">+ new board</span>
  <nav id="board-nav">
    <span><%= link_to "+ new sticky", new_sticky_path, remote:true%></span>
    <span><%= link_to "+ new category", new_category_path(:board_id => @board.id), remote:true %></span>
    <span><%= link_to "+ new collaboration", users_search_path(:board_id => @board.id), remote:true%></span>
    <span><%= link_to "- logout", logout_path%></span>

  </nav>
</header>
    <% case board.categories.length %>
    <% when 1 %>
      <% board.categories.each do |category| %>
        <section id="sc1" class="one-full-board">
          <h3 class="container-name">Stickies</h3>
        <% category.stickies.each do |sticky| %>
            <div class="sticky"><%= sticky.title %></div>
        <% end %>
        </section>
      <% end %>
    <% when 2 %>
      <% board.categories.each do |category| %>
        <% if board.categories.find_index(category) == 0 %>
          <section class='top-left-board'>
            <h3 class="container-name">Stickies</h3>
            <div id="sc1" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </section>
        <% else %>
          <section class='top-right-board'>
            <h3 class="container-name">Category Name</h3>
            <div id="sc2" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </section>
      <% end %>
      <%end %>
    <% when 3 %>
      <% board.categories.each do |category| %>
        <% if board.categories.find_index(category) == 0 %>
          <section class='left-half-board'>
            <h3 class="container-name">Stickies</h3>
            <div id="sc1" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </section>
        <% elsif board.categories.find_index(category) == 1 %>
          <section class='top-right-half-board'>
            <h3 class="container-name">Category Name</h3>
            <div id="sc2" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </section>
        <% else %>
          <section class='bottom-right-half-board'>
            <h3 class="container-name">Category Name</h3>
            <div id="sc4" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </section>
        <% end %>
      <% end %>
    <% when 4 %>
      <% board.categories.each do |category| %>
        <% if board.categories.find_index(category) == 0 %>
          <div id='one'>
            <h3 class="container-name">Stickies</h3>
            <div id="sc1" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </div>
        <% elsif board.categories.find_index(category) == 1 %>
          <div id='two'>
            <h3 class="container-name">Category Name</h3>
            <div id="sc2" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </div>
        <% elsif board.categories.find_index(category) == 2 %>
          <div id='three'>
            <h3 class="container-name">Category Name</h3>
            <div id="sc3" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </div>
        <% else %>
          <div id='four'>
            <h3 class="container-name">Category Name</h3>
            <div id="sc4" class="sticky-container">
            <% category.stickies.each do |sticky| %>
                <div class="sticky"><%= sticky.title %></div>
            <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
