<%= form_for @sticky, :html => {:class => "new-sticky"}, remote: true  do |f| %>
  <h3>New Sticky</h3>

  <span><%= f.label :title %></span>
  <span><%= f.text_field :title %></span>

  <span><%= f.label :content %></span>
  <span><%= f.text_field :content %></span>

  <span><%= f.label :image_url %></span>
  <span><%= f.text_field :image_url %></span>

  <span><%= f.label :link_url %></span>
  <span><%= f.text_field :link_url %></span>
  <%= f.hidden_field :board_id, value: params[:board_id]%>

  <%= f.submit %>

<% end %>
